*{
    box-sizing: border-box;
}

body{
    background-image: url(/color.jpg) ;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;

}

.row::after{

    display: table;
    clear: both;
}
@media screen and(max.width:600px){
    .column{
        width: 100px;
        display: block;
        margin-bottom: 20px;
    }
}
.card{
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.2) ;
    padding: 20px;
   max-width: 250px;
   margin: auto;
   background-color: white;
   text-align: center;
   border-radius: 15px;
   float: left;
  margin-left: 23%;
  margin-top: -2%;
   

}
.card1{
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.2) ;
    padding: 20px;
   max-width: 400px;
   margin: auto;
   background-color: white;
   text-align: center;
   border-radius: 15px;
   position: relative;
  margin-left:45%;
margin-top: 6%;

}
.card2{
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.2) ;
    padding: 30px;
   max-width: 600px;
   max-height: 250px;
   margin: auto;
   background-color: white;
   text-align: center;
   border-radius: 15px;
   margin-left: 30%;
 margin-top: 3%;

}

h5{
    color: violet;
}
p{
    text-align: left;
    font-size: 13px;
}
/* --------------------------------------------------------
cookies image
-------------------------------------------------------- */

img{
    height: 50px;
    weight:50px;
   margin-left: 0;
   

}
.image-1{
margin-left: -17rem;
   
}
.image-2{
    margin-left: -24rem;
}
/* --------------------------------------------------------
cross image
-------------------------------------------------------- */
.cross1
{
float: right;
height: 25px;
}
/* --------------------------------------------------------
h3
-------------------------------------------------------- */
h3{
    text-align: justify;

}

.heading{
  
}




/* --------------------------------------------------------
Button
-------------------------------------------------------- */
.classname {
	-moz-box-shadow: 3px 10px 19px -12px #276873;
	-webkit-box-shadow: 3px 10px 19px -12px #276873;
	box-shadow: 3px 10px 19px -12px #276873;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ed1dd1), color-stop(1, #ff00aa) );
	background:-moz-linear-gradient( center top, #ed1dd1 5%, #ff00aa 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1dd1', endColorstr='#ff00aa');
	background-color:#ed1dd1;
	-webkit-border-top-left-radius:31px;
	-moz-border-radius-topleft:31px;
	border-top-left-radius:31px;
	-webkit-border-top-right-radius:31px;
	-moz-border-radius-topright:31px;
	border-top-right-radius:31px;
	-webkit-border-bottom-right-radius:31px;
	-moz-border-radius-bottomright:31px;
	border-bottom-right-radius:31px;
	-webkit-border-bottom-left-radius:31px;
	-moz-border-radius-bottomleft:31px;
    border-bottom-left-radius:31px;
text-indent:0;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:normal;
	font-style:normal;
height:44px;
	line-height:44px;
width:154px;
	text-decoration:none;
	text-align:center;
}.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff00aa), color-stop(1, #ed1dd1) );
	background:-moz-linear-gradient( center top, #ff00aa 5%, #ed1dd1 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00aa', endColorstr='#ed1dd1');
	background-color:#ff00aa;
}.classname:active {
	position:relative;
	top:1px;
}

/* --------------------------------------------------------
Button left
-------------------------------------------------------- */
.classname1{
    -moz-box-shadow: 3px 10px 19px -12px #276873;
	-webkit-box-shadow: 3px 10px 19px -12px #276873;
	box-shadow: 3px 10px 19px -12px #276873;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ed1dd1), color-stop(1, #ff00aa) );
	background:-moz-linear-gradient( center top, #ed1dd1 5%, #ff00aa 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1dd1', endColorstr='#ff00aa');
	background-color:#ed1dd1;
	-webkit-border-top-left-radius:31px;
	-moz-border-radius-topleft:31px;
	border-top-left-radius:31px;
	-webkit-border-top-right-radius:31px;
	-moz-border-radius-topright:31px;
	border-top-right-radius:31px;
	-webkit-border-bottom-right-radius:31px;
	-moz-border-radius-bottomright:31px;
	border-bottom-right-radius:31px;
	-webkit-border-bottom-left-radius:31px;
	-moz-border-radius-bottomleft:31px;
    border-bottom-left-radius:31px;
    text-indent:0;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:normal;
	font-style:normal;
height:44px;
	line-height:44px;
width:154px;
	text-decoration:none;
    text-align:center;
   float: left;
    
}
}.classname1:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff00aa), color-stop(1, #ed1dd1) );
	background:-moz-linear-gradient( center top, #ff00aa 5%, #ed1dd1 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00aa', endColorstr='#ed1dd1');
	background-color:#ff00aa;
}.classname1:active {
	position:relative;
    top:1px;
}
@media screen and(max-width: 1200px){
	.column{
		width: 40%;

	}
}
@media only screen and(max-width:1180px){
	.column{
		width: 90%;

	}
}
